
header h2 {
    font-size: 35px;
    font-size: 2.3rem;
    margin: 5px 0 10px;
}

section p {
    text-align: justify;
    font-size: 19px;
    font-size: 1.15rem;
    line-height: 1.45;
    font-weight: 100;
    margin: 0 0 15px;
}

section h2 {
    font-size: 1.45rem;
    margin: 10px 0;
}

.img-circle {
    border-radius: 50%;
}

ul {
    margin: 15px auto 25px;
    width: 60%;
    padding-left: 0;
    font-size: 19px;
    font-size: 1.15rem;
    line-height: 1.7;
    font-weight: 100;
}

@media only screen and (max-width: 800px) {
    ul {
        width: 95%;
    }
}

a {
    color: #005f97;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    transition: all .3s;
}

a:hover {
    color: #FFFFFF;
    background-color: #005f97;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    transition: all .3s;
}